// 作者
$author: chensuiyi;
$layout-logo-background-color: #fff;
// 框架-头部
$layout-header-height: 44px;
$layout-header-background-color: #f9f9f9;
$layout-header-border-color: #ddd;
// 框架-菜单
$layout-menu-width: 240px;
$layout-menu-background-color: #f7f8fa;
$layout-menu-border-color: #ddd;
// 主要区域
$layout-main-background-color: #f7f7f7;
$global-border-radius-width: 6px;
$layout-space: 6px;
// 底部区域
$layout-footer-height: 50px;
$layout-footer-border-color: #ddd;
$layout-footer-background-color: #fff;
